 {% extends "base.html" %}
 {% block title %}qeuz{% endblock %} 
 {% block content %}
<form action="/quesion" method="POST">
    <input type="text" name="gg" value="{{ b }}" hidden />
    <h1 align="center">{{ country_name }}</h1>
    {% for i in range(20) %}
    <h4 align="center">
        {{ i+1 }}){{ g[i]['query'] }}</br>
        <input type="radio" name="{{ i }}" value="0" required />{{ g[i]['options'][0] }}
        <input type="radio" name="{{ i }}" value="1" required />{{ g[i]['options'][1] }}
        <input type="radio" name="{{ i }}" value="2" required />{{ g[i]['options'][2] }}
        <input type="radio" name="{{ i }}" value="3" required />{{ g[i]['options'][3] }}
    <hr />
    {% endfor %}
    <button type="submit" class="btn btn-primary">submit</button>
    </h4>
</form>

{% endblock %}